

  $color-primary :  #0A2640;
  $color-primary-dark:black;
  $color-primary-light:#F1F1F1;
  $color-secondary:rgba(101, 228, 163, 1);
  $color-secondary-light:#777777;
  $color-tretiary:white;
  
  $default-fontsize: 1.5rem;
    
  
